{% extends 'base.html' %}


{% block title %}
{{ ad.title }} - {{ block.super }}
{% endblock title %}


{% block content %}

<div class="card text-center">
    <div class="card-header">
        Posted by {{ ad.author }}
    </div>
    <div class="card-body">
        <h5 class="card-title">
            {{ ad.title }}
        </h5>
        <hr>
        <p class="card-text">
            {{ ad.content|safe }}
        </p>
    </div>
    {% if ad.author == request.user %}
    <hr>
    <a href="{% url 'ad_update' pk=ad.id %}" class="btn btn-warning">
        Edit this ad
    </a>
    <a href="{% url 'ad_del_ask' pk=ad.id %}" class="btn btn-danger">
        Delete this ad
    </a>
    {% endif %}
    <div class="card-footer text-muted">
        {{ ad.date_of_creation }}
    </div>
</div>

{% if user.is_authenticated %}
{% if ad.author != request.user and not current_user_left_reply %}
<br>
<hr>
<form action="" method="POST" align="center">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.text.errors }}
        <br>
        <label for="{{ form.text.id_for_label }}">You can add your reply here:</label>
        <br>
        {{ form.text }}
        <br>
        <br>
    </div>
    <input type="submit" class="btn btn-success" value="Send"/>
</form>
<br>
<hr>
{% endif %}
{% endif %}

<br>

{% for repl in ad.replies_to_adv.all %}
<h3>
    Replies
</h3>
<br>
<div class="card mb-3 mx-auto" style="width: 50%">
    <h5 class="card-header">
        Reply by {{ repl.author }}
    </h5>
    <div class="card-body">
        <p class="card-text">
            {{ repl.text }}
        </p>
        {% if ad.author == request.user %}
        <hr>
        {% if not repl.is_approved and not repl.is_rejected %}
        <a href="{% url 'repl_apr_and_disapr' pk=ad.id repl_pk=repl.id %}" class="btn btn-success">
            Approve
        </a>
        <a href="{% url 'repl_rej_and_unrej' pk=ad.id repl_pk=repl.id %}" class="btn btn-dark">
            Reject
        </a>
        {% elif repl.is_approved and not repl.is_rejected %}
        <a href="{% url 'repl_apr_and_disapr' pk=ad.id repl_pk=repl.id %}" class="btn btn-outline-success">
            Disapprove
        </a>
        <a href="{% url 'repl_rej_and_unrej' pk=ad.id repl_pk=repl.id %}" class="btn btn-dark">
            Reject
        </a>
        {% elif not repl.is_approved and repl.is_rejected %}
        <a href="{% url 'repl_apr_and_disapr' pk=ad.id repl_pk=repl.id %}" class="btn btn-success">
            Approve
        </a>
        <a href="{% url 'repl_rej_and_unrej' pk=ad.id repl_pk=repl.id %}" class="btn btn-outline-dark">
            Unreject
        </a>
        {% endif %}
        {% endif %}
        {% if repl.author == request.user %}
        <hr>
        {% if repl.is_approved %}
        <div class="alert alert-success" role="alert">
            You reply is approved.
        </div>
        {% elif repl.is_rejected %}
        <div class="alert alert-danger" role="alert">
            You reply is rejected.
        </div>
        {% else %}
        <div class="alert alert-secondary" role="alert">
            You reply is in neutral status yet.
        </div>
        {% endif %}
        <a href="{% url 'repl_del_ask' pk=ad.id repl_pk=repl.id %}" class="btn btn-danger">
            Delete this reply
        </a>
        {% endif %}
    </div>
    <div class="card-footer text-muted">
        {{ repl.date_of_creation }}
    </div>
</div>
{% empty %}
<h3>
    No replies here yet
</h3>
{% endfor %}

{% endblock content %}