{% extends 'base.html' %}


{% block title %}
Reply deletion - {{ block.super }}
{% endblock title %}


{% block content %}

<div class="card text-center">
    <div class="card-header">
        {{ question }}
    </div>
    <div class="card-body">
        <h5 class="card-title">
            {{ reply }}
        </h5>
    </div>
    <div class="card-footer text-muted">
        {{ reply.date_of_creation }}
    </div>
</div>
<br>
<a href="{% url 'ad_detail' pk=reply.adv.id %}" class="btn btn-secondary">
    Cancel
</a>
<a href="{% url 'repl_del_confirm' pk=reply.adv.id repl_pk=reply.id %}" class="btn btn-danger">
    I'm sure. Delete this reply
</a>

{% endblock content %}